body {
    background-color: gray;
    font-family: "Roboto", sans-serif !important;
    width: 100% !important;
    height: 100% !important;
    margin:0;
    padding:0;
}

.row {
    margin-bottom: 0 !important;
}

.header {
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
}

.headerLogo {
    width: 100%;
    height: 100px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pageContent {
    position: absolute;
    left: 10%;
    width: 80% !important;
    height: 100vh !important;
}

.section {
    color: #5a5a5a;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.section p {
    padding-left: 5px;
}

.customerContent {
    width: 100%;
    background-color: gray;
}

.menu {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbarHeader {
    text-transform: uppercase;
}

.menuItems {
    width: 100%;
    color: white;
}

.menuHeader {
    background-color: #191919 !important;
}

.menuItems:hover {
    color: white !important;
}

.menuItems a:hover {
    color: white !important;
    text-decoration: none;
}

table, th, td {
    border-spacing: 5px;

}

th, td {
    padding: 20px;
    text-align: center;
}