body {
    background-color: gray;
    font-family: "Roboto", sans-serif !important;
    width: 100% !important;
    height: 100% !important;
    margin:0;
    padding:0;
}

.row {
    margin-bottom: 0 !important;
}

.header {
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
}

.headerLogo {
    width: 100%;
    height: 100px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pageContent {
    position: absolute;
    left: 10%;
    width: 80% !important;
    height: 100vh !important;
}

.teamItem {
    height: 250px;
    width: 200px;
}

.team {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 2px;
    background-color: white !important;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.section {
    color: #039be5;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.section-title {
    color: #039be5;
}

.section p {
    padding-left: 5px;
    color: #039be5 !important;
}

.customerContent {
    width: 100%;
    background-color: gray;
}

.menu {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.formular {
   margin-left: 15px;
   margin-right: 15px;
   padding-bottom: 10px;
   padding-top: 10px;
   background-color: #f8f8f8;
   border-color: #e7e7e7;
}

.footer {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    color: #039be5;
    height: 50px;
}

.footer ul {
    list-style-type: none;
    margin: 0;
}

.footer ul li {
    float: left;
    margin-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footerContent {
    padding: 0;
    margin-left: 15px;
    list-style-type: none;
}

.footer ul li {
    display: inline;
}